.root{

   lI{
    display: inline-block;
  
 
  a{
    width: 45px;
    height: 45px;
    text-align: center;;
    line-height: 42px;
    margin-right: 10px;
    border: 1px solid #fe5f1e;
    display: inline-block;
    border-radius: 30px;
    cursor: pointer;
    color: #fe5f1e;
    &:hover{
    
   
    }
  }
 }

 :global{
     .selected{
      
      a{
        color: #fff;
        background-color: #fe5f1e;
      
    }
   
  }
 }
}